<div>
<% @posts.each do |post| %>
    <p>
    <tr>
    <div  class="tweet">
      <h3><td><%= post.user.email %></td></h3>
      <h2><td><%= post.body %></td></h2>
      <h3><td><%= post.created_at %></td></h3>
      <% if current_user == post.user %>
        <span class="twitter-button">
            <%= link_to "Delete", post_path(post.id), :confirm => "Are you sure?", :method => :delete %>
            </span>
      <% end %>
      </div>
    </tr>
  <% end %>
  </p>
</div>

